<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Edit Ingredients in Recipe</title>
</head>
<body>
<div class="container">
    <div class="box">
        <div class="title">Edit Ingredients in Recipe</div>
        <div class="content">
            <form th:action="@{/recipe/updateRecipeIngredients}" th:object="${recipeIngredients}" method="post">
                <input type="hidden" class="recipeId" th:value="${recipeIngredients.getRecipeId()}" th:field="*{recipeId}">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Unit of Measure</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody class="ingredient-body">
                    <tr class="ingredient-row" th:each="ingredientCommand, stat : *{ingredientCommandList}">
                        <td><input type="hidden" class="ingredient-id" th:value="${ingredientCommand.getId()}"
                                   th:field="*{ingredientCommandList[__${stat.index}__].id}">
                            <input class="form-control ingredient-amount" type="text" th:value="${ingredientCommand.getAmount()}"
                                   th:field="*{ingredientCommandList[__${stat.index}__].amount}"></td>
                        <td><select class="form-control ingredient-uom-id" th:field="*{ingredientCommandList[__${stat.index}__].uomId}">
                            <!-- th:field doesn't work with th:selected-->
                            <option th:each="unitOfMeasure : ${unitOfMeasureList}"
                                    th:class="(${unitOfMeasure.id}==${ingredientCommand.uomId} ? 'selected')"
                                    th:value="${unitOfMeasure.id}"
                                    th:text="${unitOfMeasure.description}"></option>
                        </select>
                        </td>
                        <td><input class="form-control ingredient-description" type="text" th:value="${ingredientCommand.getDescription()}"
                                   th:field="*{ingredientCommandList[__${stat.index}__].description}"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" onclick="addIngredientRow()">Add an ingredient</button>
                <button type="button" class="btn btn-primary" onclick="toJSON()">toJSON</button>
                <button class="btn btn-primary" type="submit">submit</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
    let options = document.querySelectorAll('option.selected')
    options.forEach((item) => {
        item.selected=true
    })

    function toJSON() {
        let recipeIngredients = {
            recipeId: $('.recipeId').val(),
            ingredients: []
        }
        let tableRows = document.querySelectorAll('.ingredient-row')
        tableRows.forEach((row, idx) => {
            let ingredient = {
                "id": $(row).find('.ingredient-id').val(),
                "amount": $(row).find('.ingredient-amount').val(),
                "uomId": $(row).find('.ingredient-uom-id').val(),
                "description": $(row).find('.ingredient-description').val()
            }
            recipeIngredients.ingredients.push(ingredient)
        })
        console.log(JSON.stringify(recipeIngredients))
    }

    function addIngredientRow() {
        // implement later
        let tbody = document.querySelector('.ingredient-body')
        let newRow = tbody.insertRow(-1)

        newRow.appendChild(document.createElement('td').appendChild(document.createElement('input')))
        newRow.appendChild(document.createElement('td').appendChild(document.createElement('input')))
        newRow.appendChild(document.createElement('td').appendChild(document.createElement('input')))

        console.log(newRow)
    }
</script>
</body>
</html>