<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Edit Ingredients in Recipe</title>
</head>
<body>
<div class="container">
    <div class="box">
        <div class="title">Edit Ingredients in Recipe</div>
        <div class="content">
            <form>
                <input type="hidden" class="recipeId" th:value="${recipeIngredients.getRecipeId()}">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Unit of Measure</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody class="ingredient-body">
                    <tr class="ingredient-row" th:each="ingredientCommand : ${recipeIngredients.ingredientCommandList}">
                        <td><input type="hidden" class="ingredient-id" th:value="${ingredientCommand.getId()}">
                            <input class="form-control ingredient-amount" type="text" th:value="${ingredientCommand.getAmount()}"></td>
                        <td><select class="form-control ingredient-uom-id">
                            <!-- th:field doesn't work with th:selected-->
                            <option th:each="unitOfMeasure : ${unitOfMeasureList}"
                                    th:selected="${unitOfMeasure.id}==${ingredientCommand.uomId}"
                                    th:value="${unitOfMeasure.id}"
                                    th:text="${unitOfMeasure.description}"></option>
                        </select>
                        </td>
                        <td><input class="form-control ingredient-description" type="text" th:value="${ingredientCommand.getDescription()}"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" onclick="addIngredientRow()">Add an ingredient</button>
                <button type="button" class="btn btn-primary" onclick="toJSON()">submit</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
    function toJSON() {
        let recipeIngredients = {
            recipeId: $('.recipeId').val(),
            ingredientCommandList: []
        }
        let tableRows = document.querySelectorAll('.ingredient-row')
        tableRows.forEach((row, idx) => {
            let ingredient = {
                "id": $(row).find('.ingredient-id').val(),
                "amount": $(row).find('.ingredient-amount').val(),
                "uomId": $(row).find('.ingredient-uom-id').val(),
                "description": $(row).find('.ingredient-description').val()
            }
            recipeIngredients.ingredientCommandList.push(ingredient)
        })
        // console.log(JSON.stringify(recipeIngredients))
        // return JSON.stringify(recipeIngredients)
        $.ajax({
            type: "POST",
            url: "/recipe/updateRecipeIngredients",
            data: JSON.stringify(recipeIngredients),
            dataType:"json",
            contentType : 'application/json;charset=utf-8',
            success: function(msg){
                window.location.href='/recipe/show/'+$('.recipeId').val()
            },
            error: function (xhr,status,error) {
                console.log(xhr)
                console.log(status)
                console.log(error)
            }
        })
    }

    function addIngredientRow() {
        // copy a row and append to tbody
        let tbody = document.querySelector('.ingredient-body')
        let row = document.querySelector('.ingredient-row')
        let newRow = document.createElement('tr')
        newRow.setAttribute('class', 'ingredient-row')
        newRow.innerHTML = row.innerHTML
        // value reset
        $(newRow).find('.ingredient-id').val('')
        $(newRow).find('.ingredient-amount').val('')
        $(newRow).find('.ingredient-uom-id').val(1)
        $(newRow).find('.ingredient-description').val('')
        console.log(newRow)
        $(tbody).append(newRow)
    }
</script>
</body>
</html>